.App {
    padding: 0;
    margin: 0;
    display:flex; 
    flex-direction:column; 
    height:100%;
}

main {
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    width: 100%;
    display: block;   
}

.col-sm-6, .col-md-6, .col-xs-6 {
    width: 50%;
}

.col-sm-12, .col-md-12 {
    width: 100%;
}

.navbar {
    background-color:#234465;
}

.navbar-toggler { 
    border-color: #ffa000 !important;
    border-width: 3px;
    padding: 0 5px;
    background-color: #ffa000;
}

a.nav-link {
    color: #fff;    
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

a.nav-link:not(.primary-btn) {
    opacity: 0.5;
}

a.nav-link:hover {
    opacity: 1;
}

.form-heading {
    align-self: center;
}

.form-heading:first-of-type {
    border-right: 2px solid #29394B;
}

h3 {
    color: #bbb;
    font-size: 22px;
}

h3:hover {
    cursor: pointer;
    color: #44B1FA;
}

h3.active-login-form,
h3.active-register-form {
    color: #29394B;
}

h3.section-title {
    text-transform: uppercase;
    color: #29394B;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    position: relative;
    display: inline-block;
}

h3.section-title::after {
    background-color: #ffa000;
    height: 4px;
    position: absolute;
    width: calc(100% - 16px);
    content: '';
    left: 8px;
    bottom: -8px;
}

.spinner-border {
    width: 150px;
    height: 150px;
    border-width: 10px;
}