footer {
    color: rgba(255,255,255, 0.5);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-top: auto; 
    padding: 1rem;
    background-color:#234465;
}

footer .nav-link {
    padding-left: 0 !important;
}

.footer-navigation > .nav-link:hover {
    background-color: #264d74;
}

.social-links > a {
    font-size: 30px;
}